.footer-bottom, .footer-bottom a, .footer-bottom span, .footer-bottom p, .footer-bottom div, .footer-bottom span{  font-size:10px; }
.mosaic-description{  font-size:13px; }  .mosaic-title{  font-size:20px; } }
.row{ max-width: 1130px; }	/*max site content width*/
